body {
    background-color: #ffffff8f;
    height: 100%;
    width: 100%;
    line-height: calc(1rem + 4px);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /*! text-shadow: ; */
}
/* grid positioning */
.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: "top-left top-center top-right"
                         "mid-left mid-center mid-right"
                         "bot-left bot-center bot-right";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.top-left {
    grid-area: top-left;
}

.top-center {
    grid-area: top-center;
}

.top-right {
    grid-area: top-right;
}

.mid-left{
    grid-area: mid-left;
}
.mid-center{
    grid-area: mid-center;
}
.mid-right {
    grid-area: mid-right;
}

.bot-left{
    grid-area: bot-left;
}
.bot-center{
    grid-area: bot-center;
}
.bot-right {
    grid-area: bot-right;
}

/* flexbox helper classes */ 
.h-centered {
    display: flex;
    justify-content: center;
    margin: 5 auto;
    text-shadow: 1px -2px black;
    color: #fff;
}

/* aesthetic styling shit */ 

nav {
    /*! border-style: ridge; */
    border-block-width: calc(1rem - 14px);
    padding-top: calc(2rem + 21px);
    color: rgb(255, 0, 168);
    border-block-width: 9px;
}

nav > button {
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    text-shadow: 2px 2px red;
    color: #ff2b2b;
    background-color: #000017;
}

button > a {
    font-size: calc(1rem + 16px);
    color: white;
    text-decoration: none;
}

section > h2, h3 {
    text-shadow: calc(1rem - 0.4px) calc(1rem - 0.6px) #ff2626
}

section > p {
    margin: calc(1rem + 4px);
    padding: calc(0.4rem + 3px)
}

.b-right {
    background-color: red;
    border-top-right-radius: calc(1rem + 3px);
    border-bottom-right-radius: calc(1rem + 3px);
}

.b-left {
    background-color: red;
    border-top-left-radius: calc(1rem + 3px);
    border-bottom-left-radius: calc(1rem + 3px);
}

.b-center {
    padding-top: calc(1rem - 16px);
    background-color: red;
    flex-shrink: ;
}
