{% extends "base.html" %}

{% if site_name %}
    {% block title %}
    <title>{{ site_name }}</title>
    {% endblock %}
{% endif %}

{% block content %}
    <section>
        <h2> What is this? </h2>
        <p> Pyguin is an extremely simple static site generator that was built half as a joke and half out of frustration for the lack of any static site generators
        for websites that have a smaller scope than a blog. </p>
    </section>

    <section>
        <h2>Quickstart</h2>
        <p>Getting started with Pyguin is very easy, all you have to do is just make the website lmao</p>
        <p>Getting started with Pyguin is very easy, all you have to do is just make the website lmao</p>
    </section>
{% endblock %}